export EBAY_SANDBOX_DEVID=''
export EBAY_SANDBOX_APPID=''
export EBAY_SANDBOX_CERTID=''

export EBAY_PRODUCTION_DEVID=''
export EBAY_PRODUCTION_APPID=''
export EBAY_PRODUCTION_CERTID=''

export EBAY_SANDBOX_RU_NAME=''
export EBAY_PRODUCTION_RU_NAME=''
